.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #d3d3d3;
  margin: 4px 0;
  transition: 0.4s;
  transform-origin: center;
}

.burger.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 5px);
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -5px)
}