.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: "Rubik";
  align-items: center;
  color: #fff;
}

.title {
  margin: 0;
  font-size: 20px;

  @media (max-width: 600px) {
    font-size: 18px;
  }
  @media (max-width: 430px) {
    font-size: 16px;
  }
}

.image {
  border-radius: 10px;
  max-height: 80%;
  max-width: 80%;
}

.price {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  align-self: center;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.subtitle {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  align-self: center;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.loader {
  color: white;
  font-family: "Rubik";
  font-size: 22px;
  margin: 8px 0 0 45%;
}

