.card {
  padding: 8px 8px;
  border-radius: 5px;
  font-family: "Rubik";
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 160px;
  height: 213px;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 14px;
  text-align: end;
  max-width: 160px;
}

.price {
  margin: 5px 0;
  font-size: 14px;
  text-align: end;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
  font-family: "Rubik";
  color: #fff;
  background-color: rgba(0, 0, 0, 0.95);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}