.description {
  margin: 0 auto 40px;
  max-width: 800px;
}

.author {
  font-family: 'BadScript';
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 15px auto;
  text-decoration: underline;
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  font-family: 'Rubik';
}

.list {
  font-size: 20px;
  list-style: none;
  padding: 0;
}

.element {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.element:not(:last-child) {
  margin-bottom: 15px;
}

.title {  
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.img {
  width: 270px;
  height: 360px;
  object-fit: contain;
  vertical-align: bottom;
}
