.description {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 20px;
  
  @media (max-width: 900px) {
    max-width: 800px;
  }
  @media (max-width: 400px) {
    padding: 0 10px;
  }
}

.author {
  font-family: 'BadScript';
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 15px auto;
  text-decoration: underline;

  @media (max-width: 600px) {
    font-size: 24px;
  }

  @media (max-width: 430px) {
    font-size: 20px;
    margin: 10px auto;
  }
  @media (max-width: 400px) {
    font-size: 18px;
  }
}

.title {  
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik';

  @media (max-width: 600px) {
    font-size: 18px;
  }
  @media (max-width: 430px) {
    font-size: 16px;
  }
}

.container {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.5;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 10px;

  @media (max-width: 530px) {
    flex-direction: column;
    margin-top: 15px;
  }
}

.subtitleContainer {
  padding-top: 40px;

  @media (max-width: 530px) {
    padding-top: 20px;
  }
  @media (max-width: 400px) {
    padding-top: 10px;
  }
}

.subtitle {
  max-width: 500px;
  text-align: center;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 16px;
  }

  @media (max-width: 530px) {
    max-width: 80%;
    margin: 0 auto;
  }
  @media (max-width: 530px) {
    font-size: 14px;
  }
}