.description {
  margin: 0 auto;
  max-width: 850px;
  
}

.author {
  font-family: 'BadScript';
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 15px auto;
  text-decoration: underline;
}

.title {  
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik';
}

.container {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.5;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.subtitleContainer {
  padding-top: 40px;
}

.subtitle {
  max-width: 500px;
  text-align: center;
  margin: 0;
}