.header {
  font-family: "BadScript";
  font-size: 20px;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.94);
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  column-gap: 30px;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  column-gap: 10px;
  align-items: start;
  padding-top: 9px;
}

.linkSocial {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #d3d3d3;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

.link.active {
  color: #fff;
  text-decoration: underline;
}
