.header {
  font-family: "BadScript";
  font-size: 20px;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.94);
  display: flex;
  justify-content: space-between;
  min-height: 71.5px;
  box-sizing: border-box;

  @media (max-width: 1250px) {
    font-size: 16px;
  }

  @media (max-width: 1020px) {
    padding: 20px;
  }
  @media (max-width: 465px) {
    padding: 10px;
    min-height: 45px;
  }
}

.rightContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  min-width: 60%;

  @media (max-width: 1250px) {
    min-width: 55%;
  }
  @media (max-width: 950px) {
    justify-content: end;
    min-width: fit-content;
  }
}

.header.hidden {
  justify-content: end;
  column-gap: 43px;
}

.list {
  list-style: none;
  display: flex;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  justify-items: center;

  @media (max-width: 1020px) {
    column-gap: 15px;
  }
}

.social {
  display: flex;
  column-gap: 10px;
  align-items: start;
  padding-top: 9px;

  @media (max-width: 1250px) {
    padding-top: 4px;
  }

  @media (max-width: 950px) {
    display: none;
  }
}

.linkSocial {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #d3d3d3;

  @media (max-width: 850px) {
    font-size: 20px;
  }
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

.link.active {
  color: #fff;
  text-decoration: underline;
}

.burgerMenu {
  display: none;
  padding-top: 3px;
  cursor: pointer;

  @media (max-width: 850px) {
    display: block;
  }

  @media (max-width: 400px) {
    padding-top: 0;
  }
}

@media (max-width: 850px) {
  .burgerMenu {
    right: 20px;
    position: fixed;
    z-index: 15;

    @media (max-width: 465px) {
      right: 10px;
    }
  }

  .list {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: left .4s;
    z-index: 10;
  }

  .active {
    left: 0;
  }
} 