.header {
  font-family: 'BadScript';
  font-size: 20px;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.94);
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #d3d3d3;
}

.link:hover {
  color: #fff;
}