.mainContainer {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.window {
  height: 100%;
  max-width: 270px;
  overflow: hidden;
}

.items {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
}