body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'BadScript';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/BadScript-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/Raleway-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/Rubik-Medium.ttf) format("truetype");
}